@font-face {
  font-family: 'Galano';
  font-style: normal;
  font-weight: 400; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

.container {
  width: 959px;
  margin: 0 auto; }

.main {
  padding-top: 50px; }
  .main__title {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.07px;
    color: #000000; }
    .main__title::before {
      content: "";
      position: absolute;
      left: -19px;
      top: 3px;
      width: 9px;
      height: 50px;
      background-color: #ffb53a; }
  .main__text {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.71px;
    color: #000000; }
  .main__add-dish {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main__add-dish--btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Source Serif Pro', serif;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: -0.43px;
      color: #fff;
      outline: none;
      border-width: 0;
      background-color: #ffb53a;
      border-radius: 5px;
      padding: 14px 30px;
      cursor: pointer; }
    .main__add-dish--icon {
      margin-left: 14px; }

.dish-catalogue {
  display: grid;
  grid-template-columns: repeat(3, 305px);
  grid-column-gap: 22px;
  grid-row-gap: 1px;
  padding: 30px;
  justify-content: center; }
  .dish-catalogue__block {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.12); }
  .dish-catalogue--link {
    display: block;
    position: relative;
    text-decoration: none; }
  .dish-catalogue--wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 10px 20px; }
  .dish-catalogue--img {
    border-radius: 10px; }
  .dish-catalogue--type-kcl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .dish-catalogue--type-kcl > p {
      font-family: 'Source Serif Pro', serif;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.39px;
      color: #2e3b50;
      text-transform: uppercase; }
  .dish-catalogue--name {
    position: relative;
    height: 86px;
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.61px;
    color: #2e3b50;
    text-align: left; }
    .dish-catalogue--name::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 8px;
      width: 15px;
      height: 4px;
      background-color: #ffb53a; }
  .dish-catalogue--description {
    height: 54px;
    margin-bottom: 10px;
    font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #2e3b50; }
  .dish-catalogue--price-persons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right; }
    .dish-catalogue--price-persons .price {
      font-family: 'Source Serif Pro', serif;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.61px;
      color: #2e3b50; }
      .dish-catalogue--price-persons .price .currency {
        font-family: 'Source Serif Pro', serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #2e3b50; }
    .dish-catalogue--price-persons .persons {
      font-family: 'Source Serif Pro', serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: -0.5px;
      text-align: right;
      color: #2e3b50; }

/*# sourceMappingURL=main.css.map */
