@import "../../globalStyles/globalStyle";
.nav {
  list-style-type: none;
  @include centerFlex;
  &__item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    &--link {
      @include textStyles(#fff, 17);
      &-scroll{
        @include textStyles(#000, 17);
      }
     &--active {
       @include textStyles(#fff, 17);
        background-color: $butterscotch;
          mix-blend-mode: hard-light;
        border-radius: 5px;
      }

      &--active-scroll {
        @include textStyles($butterscotch, 17);;
        background-color: rgba($butterscotch, 0.2);
        border-radius: 5px;
      }
    }
  }
}
.burger-menu {
  display: none;
  cursor: pointer;
  border-width: 0;
  outline: none;
  background-color: transparent;
}
